{% extends "layout.jinja2" %}

{% block content %}
  <div class="form-wrapper">

    <div class="logo">
      <img
        src="{{ url_for('static', filename='img/linguo.jpg') }}"
        alt="logo"
      />
    </div>

    <h1>Documents List</h1>

    <p>This is the list of your documents.</p>

  <p></p>

    <table class="table table-bordered table-dark">
    <colgroup>
    <col style="width: 100px">
    <col style="width: 200px">
    <col style="width: 350px">
    </colgroup>
    <thead>
      <tr>
        <th class="tg-73oq">Editor</th>
        <th class="tg-73oq">Document Name</th>
        <th class="tg-73oq">Document Body</th>
      </tr>
    </thead>
    <tbody>
    {% for document in documents %}
      <tr>
        <td class="tg-73oq">{{ document.name }}</td>
        <td class="tg-73oq">
          <a href="{{ url_for('sponsor_bp.documentedit_sponsor', document_id=document.document_id) }}">{{ document.document_name }}</a>
        </td>
        <td class="tg-73oq">{{ document.document_body }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>


  <p></p>

  </div>
    <a href="{{ url_for('sponsor_bp.newdocument_sponsor') }}">Create a New Document</a>
  </div>

  <p></p>

  </div>
    <a href="{{ url_for('sponsor_bp.dashboard_sponsor') }}">Back to Sponsor Dashboard</a>
  </div>


{% endblock %}