{% extends "layout.jinja2" %}

{% block content %}

Admin Dashboard

<p></p>

  <div>
    </div>
      <a href="{{ url_for('admin_bp.signuprequests_admin') }}">Signup Requests Dashboard</a>
    </div>
  <div>

<p></p>

  <div>
    </div>
      <a href="{{ url_for('admin_bp.usersview_admin') }}">Users View Dashboard</a>
    </div>
  <div>

<p></p>

  <div>
    </div>
      <a href="{{ url_for('admin_bp.logoutadmin') }}">Log Out</a>
    </div>
  <div>

{% endblock %}